In [1]:
import pandas as pd

In [8]:
df1 = pd.read_csv('../raw_data/result.csv')
df1.head()

,allele,seq_num,start,end,length,peptide,core,icore,score,rank
0,HLA-A*01:01,1,170,178,9,TSEIQLTDY,TSEIQLTDY,TSEIQLTDY,0.933967,0.02
1,HLA-A*02:01,1,424,432,9,SIGGVFTSV,SIGGVFTSV,SIGGVFTSV,0.697219,0.13
2,HLA-A*02:01,1,200,208,9,TMKEKSWLV,TMKEKSWLV,TMKEKSWLV,0.676498,0.15
3,HLA-A*02:01,1,431,439,9,SVGKLVHQV,SVGKLVHQV,SVGKLVHQV,0.630641,0.17
4,HLA-A*01:01,1,124,132,9,KLEGKIVQY,KLEGKIVQY,KLEGKIVQY,0.613667,0.13

In [13]:
df1.shape

(974, 10)

In [9]:
df2 = pd.read_csv('../raw_data/result (1).csv')
df2.head()

,allele,seq_num,start,end,length,peptide,core,icore,score,rank
0,HLA-A*01:01,1,170,178,9,TSEIQLTDY,TSEIQLTDY,TSEIQLTDY,0.933967,0.02
1,HLA-A*02:01,1,424,432,9,SIGGVFTSV,SIGGVFTSV,SIGGVFTSV,0.697219,0.13
2,HLA-A*02:01,1,200,208,9,TMKEKSWLV,TMKEKSWLV,TMKEKSWLV,0.676498,0.15
3,HLA-A*02:01,1,431,439,9,SVGKLVHQV,SVGKLVHQV,SVGKLVHQV,0.630641,0.17
4,HLA-A*01:01,1,124,132,9,KLEGKIVQY,KLEGKIVQY,KLEGKIVQY,0.613667,0.13

In [14]:
df2.shape

(974, 10)

In [15]:
df = pd.concat([df1, df2], ignore_index=True)

In [16]:
df

,allele,seq_num,start,end,length,peptide,core,icore,score,rank
0,HLA-A*01:01,1,170,178,9,TSEIQLTDY,TSEIQLTDY,TSEIQLTDY,0.933967,0.02
1,HLA-A*02:01,1,424,432,9,SIGGVFTSV,SIGGVFTSV,SIGGVFTSV,0.697219,0.13
2,HLA-A*02:01,1,200,208,9,TMKEKSWLV,TMKEKSWLV,TMKEKSWLV,0.676498,0.15
3,HLA-A*02:01,1,431,439,9,SVGKLVHQV,SVGKLVHQV,SVGKLVHQV,0.630641,0.17
4,HLA-A*01:01,1,124,132,9,KLEGKIVQY,KLEGKIVQY,KLEGKIVQY,0.613667,0.13
...,...,...,...,...,...,...,...,...,...,...
1943,HLA-A*02:01,1,70,78,9,TDSRCPTQG,TDSRCPTQG,TDSRCPTQG,0.000001,95.00
1944,HLA-A*02:01,1,336,344,9,PFSTQDEKG,PFSTQDEKG,PFSTQDEKG,0.000000,100.00
1945,HLA-A*02:01,1,290,298,9,DKLTLKGMS,DKLTLKGMS,DKLTLKGMS,0.000000,100.00
1946,HLA-A*02:01,1,98,106,9,DRGWGNGCG,DRGWGNGCG,DRGWGNGCG,0.000000,100.00
1947,HLA-A*02:01,1,92,100,9,CRRTFVDRG,CRRTFVDRG,CRRTFVDRG,0.000000,100.00

In [18]:
import seaborn as sns